.header {
    font-size: 48px;
    text-align: center;
    background-color: rgb(116, 29, 230);
    color: aliceblue;
}

.container-md {

}

.card-header {

}

.btn {

}

.weath-box {

}

.city {

}

#city-history {

}

#five-day-fore {

}

