.header {
    font-size: 48px;
    text-align: center;
    background-color: rgb(116, 29, 230);
    color: aliceblue;
}

.btn {
    background-color: lightblue;
    margin: 10px;
    width: 250px;
}

